.progressContainer{
  position: relative;
  width: 100%;
  height: 18px; 
  margin:10px 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(75, 75, 75);
  color:#fff;
  text-align: center;
  overflow: hidden;
}
.bar{
  background-color:rgba(255, 255, 255, 0.551);
  height: 20px;
  border-radius: 3px;
  transition: width 800ms ease-in-out;
}
.number{
  position: absolute;
  font-size: .9rem;
  line-height: 1rem;
  width: 100%;
  font-weight: lighter;
  user-select: none;
}